@page
@model Htmx.Oob.Example.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <a asp-page="TestPage">Test Page</a>
    <br/>
    <a asp-controller="Test" asp-action="Index">Test Controller View</a>
</div>
</body>
</html>