@page
@model Htmx.Oob.Example.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <a href="/test-controller">Controller</a><br><a href="/test-page">Test Page</a>
</div>
</body>
</html>